# .env.example

# MongoDB connection string
MONGO_URI=mongodb://localhost:27017/beathub_dev

# Secret key used for signing JWT tokens
JWT_SECRET=

# Server port
PORT=5000

# Application environment
NODE_ENV=development
