# .env.example

NODE_ENV=
PORT=
MONGO_URI=
JWT_SECRET=
JWT_EXPIRES_IN=
FRONTEND_URLS=
PUBLIC_API_URL=
MONGO_SERVER_SELECTION_TIMEOUT_MS=
RATE_LIMIT_WINDOW_MINUTES=
RATE_LIMIT_MAX=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_USER_EMAIL=
SEED_USER_PASSWORD=
